.main{
    margin-top: 5%;
    margin-left: 5%;
}

button{
    background-color: tomato;
    padding: 0.4%;
    font-size: 1em;
    color: white;
    border: 1px solid transparent;
}

button:hover{
    background-color: blueviolet;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.sub1,.sub2,.sub3{
    text-align: center;
    border: 1px solid black;
    margin: 0 5% 0 5%;
    border-radius: 1em;
    color: white;
}

.sub1{
    background-color: brown;
}

.sub2{
    background-color: cornflowerblue;
}

.sub3{
    background-color: darkgoldenrod;
}